# basics
snippet div
	%div
snippet div.
	%div{:class => "${1}"}${2}

# headings
snippet h1
	%h1
snippet h2
	%h2
snippet h3
	%h3
snippet h4
	%h4
snippet h5
	%h5
snippet	h6
	%h6

# text elements
snippet sp
	%span
snippet sp.
	%span{:class => "${1}"}${2}
snippet p
	%p
snippet p.
	%p{:class => "${1}"}${2}
